<div class="mainContainer" *ngFor="let desser of dessersMenu, index as i">
    <div class="dish" *ngIf="!desser.$hide">
        <p class="title">{{desser.$name}}</p>
        <p>ID: {{desser.$id}}</p>
        <p>Cena {{desser.$price}} zł</p>
        <button class="button" (click)="desser.$hideFunc()">Rozwiń</button>
    </div>
    
    <div class="hide" *ngIf="desser.$hide">
        <p>Skład: {{desser.$ingridients}}</p>
        <button class="backButton" (click)="desser.$hideFunc()">Wróc</button>
    </div>
</div>

