<h1 id="title">Podaj dane zamówienia</h1>
<div class="form-group">
    <form (ngSubmit)="setNewOrder(clientForm)" #clientForm="ngForm"> 
        <div id="order-shipping">
            <input type="radio" name="clientShipping"
            [(ngModel)]="shipping" 
            (click)="hideFunc()" value="odbior"> Odbiór własny
        </div>
        <div id="order-shipping">
            <input type="radio" name="clientShipping"
            [(ngModel)]="shipping"
            (click)="showFunc()" value="dowoz"> Dowóz
        </div>
        <div ngModelGroup="orderForm">
        <div id="hide" *ngIf="hide">
                <div id="order-name">
                    <input type="text"
                    placeholder="Wpisz imię"
                    required
                    name="name"
                    ngModel>
                </div>
                
                <div id="order-surname">
                    <input type="text"
                    placeholder="Wpisz nazwisko"
                    required
                    name="surname"
                    ngModel>
                </div>
                
                <div id="order-adress">
                    <input type="text"
                    placeholder="Wpisz adres"
                    pattern="[a-zA-Z.]{1,}\s+[0-9]\/?[0-9]{1,3}?"
                    required
                    name="adress"
                    ngModel>
                </div>
                
                <div id="order-checkbox">
                    <input type="checkbox"
                    required
                    name="clientCheckbox"
                    (change)="setCheckButton()">
                    Zgadzam się na warunki zamówienia.
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="disable">Zamów</button>
    </form>
    <h4 *ngIf="orderData">Dane dowozu: {{puchaser.name}} {{puchaser.surname}} {{puchaser.adress}} </h4>
</div>


