<div class="mainContainer" *ngFor="let course of mainCourseMenu, index as i">
    <div class="dish" *ngIf="!course.$hide">    
        <p class="title">{{course.$name}}</p>
        <p class="id">ID: {{course.$id}}</p>
        <p class="price">Cena {{course.$price}} zł</p>
        <button class="buttonMenu" (click)="course.$hideFunc($event)">Rozwiń</button>
    </div>
    
    <div class="hide" *ngIf="course.$hide">
        <p class="ingridients">Skład: {{course.$ingridients}}</p>
        <p class="alergens">Alergeny: {{course.$alergens}}</p>
        <button class="buttonMenu" (click)="course.$hideFunc($event)">Wróć</button>
    </div>
</div>
