<p>form works!</p>

<div class="form-group">
    <form [formGroup]="pomiar" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <p>Ciśnienie</p>
            <input type="text"
                placeholder="Wpisz pomiar"
                formControlName="cisnienie">
                <div *ngIf="cisnienie.touched && cisnienie.pristine">
                    <p class="text-warning">Pamiętaj aby uzupełnić pole.</p>
                </div>
                <div *ngIf="cisnienie.invalid && cisnienie.dirty">
                    <p class="text-danger">Minimalna jednostka ciśnienia to 1.</p>
                </div>
        </div>
        
        <div class="form-group">
                <input type="radio"
                formControlName="pora"
                name="pora"
                value="Rano"> Rano
                <input type="radio"
                formControlName="pora"
                name="pora"
                value="Wieczór"> Wieczór
        </div>
        <div class="form-group">
            <input type="date"
                formControlName="data">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="data.invalid || pora.invalid">Dodaj pomiar</button>
    </form>
</div>

<p>{{ pomiar.value | json}}</p>
<p>{{ pomiar.status | json}}</p>
<p>{{ pomiarObj.cisnienie }}</p>