.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background:gray;
    border: 5px solid rgb(243, 243, 75);
    border-radius: 15px;
    box-shadow: 5px 5px black;
}

#name {
    color:rgb(243, 243, 75);
    margin-top:0px;
    border-radius:8px;
    background:rgb(44, 44, 44);
    font-size:2rem;
}

#price {
    font-size: 1.5rem;
    border: 2px solid white;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#buyButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}