<div class="mainContainer" *ngFor="let drink of drinksMenu, index as i">
        <div class="dish" *ngIf="!drink.$hide">   
            <p class="title">{{drink.$name}}</p>
            <p>ID: {{drink.$id}}</p>
            <p>Cena {{drink.$price}} zł</p>
            <button class="buttonMenu" (click)="drink.$hideFunc()">Rozwiń</button>
        </div> 
        
        <div class="hide" *ngIf="drink.$hide">
            <p>Mililitry: {{drink.$mililiters}}</p>
            <button class="buttonMenu" (click)="drink.$hideFunc()">Wróc</button>
        </div>

        
</div>
