@import './data/styleVariables';

@mixin center-element {
    margin-left: auto;
    margin-right: auto;
}

#logoImage {
    @include center-element;
    width: 200px;
    border-radius: 90px;
    display: block;
}

#mainContent {
    @include center-element;
    width: 1350px;
        @media screen and (max-width: $tablet-width) {
            width: 100%;
        }
}

#mainCourse {
    float: left;
}

#drinks {
    float: left;
}

#dessers {
    display: inline-block;
}