<p class="name">stock-item works!</p>
<div class="stock" id="0"
    *ngFor="let stock of stocks; index as i; trackBy: trackByFunc">
    <h1>{{stock.name}}</h1>
    <h5>{{stock.code}}</h5>
    <h3 [ngClass]="stockClassesFunc(i)">{{stock.prize}}</h3>
    <button (click)="addToFavourite($event, i)" *ngIf="!stock.favourite">Add</button>
    <button (click)="changeStockPrize(i)">Change prize</button>
</div>
<!-- <div class="stock" id="0">
    <h1>{{obligacje.name}}</h1>
    <h5>{{obligacje.code}}</h5>
    <h3 [ngClass]="stockClasses">{{obligacje.prize}}</h3>
    <button (click)="obligacje.toggleFavourite()" *ngIf="!obligacje.favourite">Add</button>
</div>
<div class="stock" id="0">
    <h1>{{stock.name}}</h1>
    <h5>{{stock.code}}</h5>
    <h3 [class.positive]="stock.isPositiveChange()"
        [class.negative]="!stock.isPositiveChange()"
        [class.large-change]="largeChange"
        [class.small-change]="!largeChange">
            {{stock.prize}}
    </h3>
    <button (click)="stock.toggleFavourite()" [disabled]="stock.favourite">Add</button>
</div> -->


