.stock, .obligacje {
    border: solid 2px black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.large-change {
    font-size: 25px;
}

.small-change {
    font-size: 5px;
}