@import './styleVariables';

.mainContainer{
    box-sizing: content-box;
    border: solid 5px rgb(226, 179, 150);
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    width: 400px;
    height: 150px;
    padding: 10px 10px 10px 10px;
    box-shadow: 6px 7px 16px -2px rgba(0,0,0,0.81);
    text-align: center;
    background: rgb(216, 183, 163); 
    position: relative;
        @media screen and (max-width: $tablet-width) {
            width: 200px;
            height: 200px;
            position: relative;
        }
}

.title{
    font-size:20px;
    font-weight: bolder;
    text-align: center;
}

%buttonSize {
    position: absolute;
    display: block;
    bottom: 10px;
    width: 70px;
}

.buttonMenu{
    @extend %buttonSize;
    margin-left: 165px;
    border: solid 2px rgba(180, 103, 39, 0.993);
    border-radius: 2px;
    background: rgba(180, 81, 0, 0.993);
    color: whitesmoke;
        @media screen and (max-width: $tablet-width) {
            width: 100px;
            height: 50px;
            bottom: 0px;
            position: absolute;
            display: block;
            margin-left:50px;
        }
}

.button:hover{
    background: rgba(180, 116, 63, 0.993);
    border: solid 2px rgba(170, 136, 109, 0.993);
}

.hide {
    box-sizing: content-box;
    height: 150px;
}



